<h1>Airlines List</h1>
<hr />

<!-- <div class="row">
    <div class="col text-right">
        <button routerLink="/airline" class="btn btn-primary">
      <i class="fa"></i>
      ADD
    </button>
    </div>
</div> -->


<div *ngIf="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>

<table *ngIf="!loading" class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let airline of airlines; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ airline.name }}</td>
            <td>{{ airline.country }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
